<div *ngIf="isLoading" class="loader"></div>
<div *ngIf="book; else isLoading">
  <div class="book-detail-card">
    <img [src]="book.cover_id ? 'http://covers.openlibrary.org/b/id/' + book.cover_id + '-L.jpg' : 'assets/placeholder.jpg'" alt="{{ book.title }}" class="book-cover">
    <div class="book-info">
      <h2>{{ book.title }}</h2>
      <h3>Authors:</h3>
      <ul>
        <li *ngFor="let author of book.authors">{{ author.name }}</li>
      </ul>
      <p><strong>First Published Year:</strong> {{ book.publish_year }}</p>
      <p><strong>Subjects:</strong> <span *ngFor="let subject of book.subjects">{{ subject }}, </span></p>
      <p>{{ book.description }}</p>
    </div>
  </div>
</div>

