.book-detail-card
  display: flex
  align-items: start
  gap: 20px
  padding: 20px

.book-cover
  max-width: 300px
  height: auto
  border-radius: 5px

.book-info
  flex-grow: 1
  padding: 10px

h2, h3
  color: #333

ul
  list-style-type: none
  padding: 0

p
  line-height: 1.5
